ul,p,body{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.nav li{
    text-align: center;
    float: left;
    width: 25vw;
    height: 30px;
    line-height: 30px;
    background-color: rgb(111, 127, 232);
}
ul.nav li a{
    display: block;
    color: #fff;
    text-decoration: none;
}
ul.nav li a:hover{
    background-color: rgb(24, 99, 63);
    color: #000;
}
.content{
    margin: 1vw;
}
.footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100vw;
    background-color: rgb(42, 61, 228);
    color: #fff;
}